html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'MillimetreRegular';
    box-sizing: border-box;
    position: relative; 
    background-image: url(../images/backgroundimg.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1; }

body.offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible; }

p {
color: #b3b3b3;
font-weight: 300; 
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'MillimetreRegular';
}

a {
-webkit-transition: .3s all ease;
-o-transition: .3s all ease;
transition: .3s all ease; }
a, a:hover {
text-decoration: none !important; 
}

/* .hero {

height: 100vh;
width: 100%;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
position: relative;
} */


/* Header */
header {
position: absolute;
background-color:#570bad70;
top: 0;
left: 0;
width: 100%;
z-index: 5;
padding: 0px 0; 
}


@media (min-width: 768px) {
    header {
    padding: 5px 0; } 
    
}

header .navbar-brand {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 800;
    font-size: 2rem; 
}

header .navbar-brand.absolute {
    position: absolute; 
}

@media (max-width: 991.98px) {
    header .navbar-brand.absolute {
        position: relative; } 
}

header .navbar-brand span {
    color: #fff; 
}
    
@media (min-width: 768px) {
    header .navbar-brand span {
    color: #ced4da; } 
}

header .navbar {
    background: #560bad !important;
    padding-top: .5rem;
    padding-bottom: .5rem; 
}


@media (min-width: 768px) {
    header .navbar {
        padding-top: 0;
        padding-bottom: 0;
        background: none !important;
        position: relative; } 
}
    header .navbar .nav-link {
    padding: 1.7rem 1rem;
    outline: none !important;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8) !important; 
}
    
    @media (max-width: 1199.98px) {
        header .navbar .nav-link {
        padding: .5rem 0rem; }
    }

    header .navbar .nav-link.active {
        color: #fff !important;
    }

    header .navbar .dropdown-menu {
    font-size: 14px;
    border-radius: 4px;
    border: none;
    -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
    min-width: 13em;
    margin-top: -10px; 
    }

    header .navbar .dropdown-menu:before {
        bottom: 100%;
        left: 10%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #fff;
        border-width: 7px; 
    }

    @media (max-width: 991.98px) {
        header .navbar .dropdown-menu:before {
            display: none; }
    }

    header .navbar .dropdown-menu .dropdown-item:hover {
        background: #007bff;
        color: #fff; 
    }

    header .navbar .dropdown-menu .dropdown-item.active {
        background: #007bff;
        color: #fff; 
    }

    header .navbar .dropdown-menu a {
        padding-top: 7px;
        padding-bottom: 7px; 
    }
    
    header .navbar .cta-btn a {
    background: #007bff;
    border: 2px solid #560bad;
    overflow: hidden;
    color: #fff !important;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 15px 20px !important;
    line-height: 1;
    font-weight: bold;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: #560bad .5s all ease; 
    z-index: 1;
    border-radius: 6px;
    font-weight: 500;
    position: relative;
    }

    header .navbar .cta-btn a:before {
    content: "";
    position: absolute;
    z-index: -1;
    background:purple;
    height: 150px;
    width: 500px;
    border-radius: 50%;
    }

    header .navbar .cta-btn a:hover {
        background: #fff;
        color: #007bff !important;
        -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2); 
    }

    .header .navbar .cta-btn a:before {
        top: 100px;
        left: 100px;
        transition: all .7s;
    }


    /*hero section */
    
    .hero {
        margin-top: 12%;
    }

    .hero h1 {
        color: #fff;
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: 10px;
        color: white;
        text-shadow: 0 1px 0 #560bad,
                    0 2px 0 #560bad,
                    0 3px 0 #560bad,
                    0 4px 0 #560bad,
                    0 5px 0 #560bad,
                    0 6px 1px rgba(0,0,0,.1),
                    0 0 5px rgba(0,0,0,.1),
                    0 1px 3px rgba(0,0,0,.3),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.25),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.15);
    }

    .hero .nft {
        display: flex;
        flex-direction: row;
    }

    .hero .nft p {
        padding-left: 20px;
        margin-top: 30px;
        color: #fff;
    }

    .figures h3 {
        font-size: 4rem;
        font-weight: 300;
    }

    span p {
        color: #fff;
    }

    @media (max-width: 768px) {
        .hero {
            margin-top: 35%;
        }

        .hero h1 {
            color: #fff;
            font-size: 2rem;
            line-height: 1.3;
            font-weight: 800;
        }

        .hero .nft p {
            padding-left: 20px;
            margin-top: 5px;
            font-size: 0.6em;
        }

        .figures h3 {
            font-size: 3rem;
            font-weight: 300;
        }
    
        span p {
            color: #fff;
        }        

        
        
    }

    /* hero button section */

    .hero_button_section {
        display: flex;
        flex-direction: row;
    }

    .hero-button {
        display: inline-block;
        border-radius: 4px;
        background-color: #fff;
        border: none;
        color: #007bff;
        text-align: center;
        font-size: 17px;
        padding: 16px;
        width: 180px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }
    
    .hero-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }
    
    .hero-button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
    }
    
    .hero-button:hover span {
    padding-right: 15px;
    }
    
    .hero-button:hover span:after {
    opacity: 1;
    right: 0;
    }

    .hero-button2 {
        padding: 16px;
        width: 180px;
        border: 2px solid #007bff;
        position: relative;
        overflow: hidden;
        background-color: transparent;
        text-align: center;
        font-size: 16px;
        color: #ddd;
        transition: .3s;
        z-index: 1;
        font-family: inherit;
        color: #007bff;
        margin: 5px;
        cursor: pointer;
    }
    
    .hero-button2::before {
        content: '';
        width: 0;
        height: 300%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: #007bff;
        transition: .5s ease;
        display: block;
        z-index: -1;
    }
    
    .hero-button2:hover::before {
    width: 105%;
    }
    
    .hero-button2:hover {
    color: #111;
    } 

    .scores_flex {
        display: flex;
    }

    .scores_column {
        margin: 30px 30px 0 0px;
    }
